@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  all: unset;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

h3 {
  font-size: 1rem;
  font-weight: 500;
}

h4 {
  font-weight: 400;
}

section h2 {
  padding-left: 1em;
}

.button {
  color: white;
  padding: 1em;
  margin: 1em 0;
  position: relative;
  background: #9356dc;
  background: linear-gradient(355deg, #9356dc 0%, #ff79da 100%);
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  transition: all 500ms;
  z-index: 1;
}
.button:hover::after {
  opacity: 1;
}
.button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: all 900ms;
  background: linear-gradient(355deg, #a674e2 0%, #ff9de4 100%);
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 20px 25px -5px, rgba(0, 0, 0, 0.09) 0px 10px 10px -5px;
  opacity: 0;
}

.heart {
  position: relative;
  overflow: hidden;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heart--full {
  position: absolute;
  background: linear-gradient(355deg, #9356dc 0%, #ff79da 100%);
  -webkit-background-clip: text;
  background-clip: text;
  background-position: 25% 25%;
  color: transparent;
  opacity: 0;
  transform: scale(0.3);
  transition: all 700ms;
}
.heart--full:hover {
  opacity: 1;
  transform: scale(1);
}

.nouveau::after {
  content: "Nouveau";
  background-color: #99e2d0;
  width: 80px;
  position: absolute;
  top: 10px;
  right: 15px;
  text-align: center;
  padding: 0.4em 0.2em;
  color: #278870;
  font-size: 0.8rem;
}

/*//////////////Header//////////////////*/
header {
  display: flex;
  align-items: center;
  background: white;
}

.header_arrow {
  font-size: 1.5rem;
  position: absolute;
  margin-left: 25px;
}

.header_logo {
  width: 50%;
  max-width: 350px;
  margin: 20px auto;
}
.header_logo img {
  width: 100%;
}

/*//////////////Footer//////////////////*/
footer {
  color: white;
  background-color: #353535;
  padding: 10px 50px 20px 30px;
}
@media screen and (min-width : 536px) {
  footer {
    height: 250px;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
  }
}
footer h2 {
  font-family: "shrikhand";
  font-size: 1rem;
}
@media screen and (min-width : 536px) {
  footer h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 50px;
  }
}
footer ul {
  line-height: 1.6em;
}
@media screen and (min-width : 536px) {
  footer ul {
    display: flex;
    justify-content: space-around;
    align-self: center;
    width: 100%;
  }
}
@media screen and (min-width: 1250px) {
  footer ul {
    width: 70%;
  }
}
footer li a {
  display: flex;
  align-items: center;
}
footer li a p {
  margin: 0;
  font-size: 0.9rem;
}
footer li a i {
  margin-right: 10px;
}

/*/////////////////PAGE INDEX/////////////////*/
@media screen and (min-width: 1250px) {
  main {
    display: flex;
    background-color: #f6f6f6;
  }
}

@media screen and (min-width: 1250px) {
  #container-main {
    transform: scale(0.9);
    width: 450px;
    margin-left: 90px;
    position: relative;
    top: 20px;
  }
  #container-main > div {
    position: sticky;
    top: 20px;
  }
  #container-main h2 {
    margin: 10px 0px;
  }
  #container-main .section-two_filter {
    margin: 25px 40px;
  }
}

@media screen and (min-width: 1250px) {
  .container-left {
    position: relative;
    background: white;
    border-radius: 47px;
    padding-bottom: 25px;
  }
  .container-left:before {
    content: "";
    position: absolute;
    margin: -3px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #9356dc;
    background: linear-gradient(140deg, rgba(147, 86, 220, 0.7) 0%, rgba(255, 121, 218, 0.5) 100%);
    z-index: -1;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    border-radius: 47px 47px 50px 50px;
  }
}

/*/////////Section One Localisation/Reservation///////*/
.section-one_localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, #eaeaea 0%, #eaeaea 83%, #d7d6d6 100%);
  color: #4b4b4b;
}
.section-one_localisation i {
  padding: 0.5em 0.5em 0.5em 0;
}
@media screen and (min-width: 1250px) {
  .section-one_localisation {
    border-radius: 43px 43px 0px 0px;
  }
}
.section-one_reservation {
  background-color: #f6f6f6;
  text-align: center;
  padding: 1em 2em;
}
.section-one_reservation h1 {
  font-weight: 300;
  font-size: 1rem;
}
.section-one_reservation_button {
  display: inline-block;
}
@media screen and (min-width: 1200px) {
  .section-one_reservation {
    background-color: white;
  }
}

/*///////////Section Two Fonctionnement///////*/
@media screen and (min-width : 536px) {
  .section-two h2 {
    text-align: center;
    margin-bottom: 1em;
  }
}
.section-two_filter {
  width: 80%;
  height: 70px;
  margin: 40px auto;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border-radius: 40px;
  background-color: #f6f6f6;
  position: relative;
  z-index: 3;
}
.section-two_filter:hover {
  cursor: default;
}
.section-two_filter:hover::after {
  opacity: 0.15;
}
.section-two_filter:hover > .section-two_filter_icon i:nth-child(2) {
  opacity: 1;
}
.section-two_filter::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  position: absolute;
  background-color: #9356dc;
  background: linear-gradient(355deg, #9356dc 0%, #ff79da 100%);
  z-index: -1;
  opacity: 0;
  transition: opacity 400ms;
}
.section-two_filter_icon {
  color: #7e7e7e;
  position: relative;
  padding: 0 1.5em 0 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
.section-two_filter_icon i:nth-child(2) {
  position: absolute;
  color: #9356dc;
  opacity: 0;
}
.section-two_filter_number {
  background-color: #9356dc;
  color: white;
  height: 2em;
  width: 2em;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -15px;
  z-index: 3;
}

/*///////////Section Three MENU CARDS///////*/
.section-three {
  background-color: #f6f6f6;
  padding: 30px 0;
}
@media screen and (min-width : 536px) {
  .section-three h2 {
    text-align: center;
    margin-bottom: 1em;
  }
}
.section-three_cardcontainer {
  width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width : 536px) {
  .section-three_cardcontainer {
    width: 85%;
  }
}
.section-three_card {
  height: 250px;
  width: 300px;
  max-width: 450px;
  flex-grow: 1;
  margin: 0% 3% 6% 3%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.section-three_card > a {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.section-three_card_img {
  height: 70%;
  position: relative;
}
.section-three_card_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.section-three_card_body {
  height: 30%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
  align-items: center;
  border-radius: 0px 0px 20px 20px;
  line-height: 1.5;
}
.section-three_card_body p,
.section-three_card_body h3 {
  margin: 0;
  padding: 0;
}
.section-three_card_body p {
  font-size: 0.8rem;
  font-weight: 300;
}
.section-three_card_body i {
  font-size: 1.5em;
}
@media screen and (min-width: 1250px) {
  .section-three h2 {
    text-align: center;
  }
}

.loader {
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #9356dc;
  position: fixed;
  z-index: 20;
  opacity: 0;
  animation: loader-opacity 3s linear forwards;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes loader-opacity {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  99% {
    z-index: 20;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -20;
  }
}
.sk-chase {
  width: 90px;
  height: 90px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: sk-chase-dot 2s infinite ease-in-out both;
}

.sk-chase-dot:before {
  content: "";
  display: block;
  width: 25%;
  height: 25%;
  background-color: white;
  border-radius: 100%;
  animation: sk-chase-dot-before 2s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) {
  animation-delay: -1125ms;
}

.sk-chase-dot:nth-child(2) {
  animation-delay: -1050ms;
}

.sk-chase-dot:nth-child(3) {
  animation-delay: -975ms;
}

.sk-chase-dot:nth-child(4) {
  animation-delay: -900ms;
}

.sk-chase-dot:nth-child(5) {
  animation-delay: -825ms;
}

.sk-chase-dot:nth-child(6) {
  animation-delay: -750ms;
}

.sk-chase-dot:nth-child(1)::before {
  animation-delay: -1125ms;
}

.sk-chase-dot:nth-child(2)::before {
  animation-delay: -1050ms;
}

.sk-chase-dot:nth-child(3)::before {
  animation-delay: -975ms;
}

.sk-chase-dot:nth-child(4)::before {
  animation-delay: -900ms;
}

.sk-chase-dot:nth-child(5)::before {
  animation-delay: -825ms;
}

.sk-chase-dot:nth-child(6)::before {
  animation-delay: -750ms;
}

@keyframes sk-chase {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes sk-chase-dot {
  80%, 100% {
    transform: rotate(360deg);
  }
}
@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.3);
  }
  100%, 0% {
    transform: scale(0.9);
  }
}
@media screen and (min-width : 536px) {
  .section_menu {
    width: 60%;
    margin: auto;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1250px) {
  .section_menu {
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 50px auto;
    position: relative;
    /*height: 525px;*/
  }
}

/*//////////////Img Hero//////////////////*/
.menu-img {
  position: relative;
}
@media screen and (min-width: 1250px) {
  .menu-img {
    /*height: 100%;*/
    width: 30%;
    margin-right: -100px;
  }
}
.menu-img img {
  width: 100%;
  max-height: 280px;
  object-fit: cover;
}
@media screen and (min-width : 536px) {
  .menu-img img {
    border-radius: 40px 40px 0px 0px;
  }
}
@media screen and (min-width: 1250px) {
  .menu-img img {
    border-radius: 40px;
    max-height: unset;
    height: 100%;
    width: 100%;
  }
}

/*//////////////Menu Container//////////////////*/
.menu-container {
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  padding-bottom: 20px;
  margin-top: -40px;
  position: relative;
  padding: 0 3% 45px 3%;
}
@media screen and (min-width : 536px) {
  .menu-container {
    border-radius: 40px;
  }
}
@media screen and (min-width: 1250px) {
  .menu-container {
    width: 90%;
    max-width: 1100px;
    margin-top: unset;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    /*@include gradient-border;*/
    /* margin : 0 0 0 5%;*/
  }
  .menu-container_body_card {
    width: 33.33%;
  }
}
.menu-container_title {
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  padding: 20px 1em 20px 0;
  font-size: 1.5rem;
}
.menu-container_title h2 {
  font-family: "shrikhand";
  padding: 0;
}
@keyframes menu-animation {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@media screen and (min-width: 1250px) {
  .menu-container_body {
    display: flex;
  }
}
.menu-container_body_card {
  margin-bottom: 20px;
}
.menu-container_body_card h3 {
  width: 90%;
  margin: 0 auto 22px auto;
  font-size: 0.9rem;
  font-weight: 100;
}
.menu-container_body_card h3 > span {
  border-bottom: 2px solid #99e2d0;
  padding-bottom: 5px;
}
.menu-container_body_card > div:nth-child(1) {
  animation: menu-animation 1s 0ms both;
}
.menu-container_body_card > div:nth-child(2) {
  animation: menu-animation 1s 200ms both;
}
.menu-container_body_card > div:nth-child(3) {
  animation: menu-animation 1s 400ms both;
}
.menu-container_body_card > div:nth-child(4) {
  animation: menu-animation 1s 600ms both;
}
.menu-container_body_card > div:nth-child(5) {
  animation: menu-animation 1s 800ms both;
}
.menu-container_body_card_choice {
  width: 95%;
  height: 70px;
  margin: 0px auto 14px auto;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  background-color: white;
  border-radius: 15px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em 0 0;
  overflow: hidden;
}
.menu-container_body_card_choice:hover {
  cursor: pointer;
}
.menu-container_body_card_choice:hover > div:nth-child(3) {
  cursor: pointer;
  margin-right: -0.7em;
}
.menu-container_body_card_choice:hover > div:nth-child(3) > i {
  transform: rotate(360deg);
}
.menu-container_body_card_choice > div {
  display: flex;
  height: 100%;
  flex-direction: column;
  /*textes des plats*/
  /*prix des plats*/
  /*Animation Carré vert des plats*/
}
.menu-container_body_card_choice > div:nth-child(1) {
  padding: 0.9em 0.6em;
  justify-content: space-between;
  flex-grow: 1;
  width: 60%;
}
.menu-container_body_card_choice > div:nth-child(1) > h4,
.menu-container_body_card_choice > div:nth-child(1) p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu-container_body_card_choice > div:nth-child(2) {
  justify-content: flex-end;
  padding-bottom: 0.9em;
}
.menu-container_body_card_choice > div:nth-child(3) {
  height: 100%;
  width: 70px;
  background-color: #99e2d0;
  margin-left: 0.45em;
  margin-right: -86px;
  transition: all 500ms;
  color: white;
  font-size: 2em;
  justify-content: center;
  align-items: center;
}
.menu-container_body_card_choice > div:nth-child(3) > i {
  transform: rotate(0deg);
  transition: transform 500ms 100ms;
}
.menu-container_body_card_choice h4,
.menu-container_body_card_choice p {
  margin: 0;
  font-size: 0.95rem;
}
.menu-container_body_card_choice p {
  font-weight: 300;
  font-size: 0.8rem;
}

.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=styles.css.map */
