$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$grey: #f6f6f6;

$light-primary: lighten($primary, 7%);
$light-secondary: lighten($secondary, 7%);

$desktop: 1250px;
$mobile: 536px;

$small-up: "screen and (min-width : #{$mobile})";

$large-up: "screen and (min-width: #{$desktop})";
$large-down: " screen and (max-width: #{$desktop})";

$vitesse-anim: 75ms;
