.section_menu {
  @media #{$small-up} {
    width: 60%;
    margin: auto;
    margin-bottom: 30px;
  }
  @media #{$large-up} {
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 50px auto;
    position: relative;
    /*height: 525px;*/
  }
}

/*//////////////Img Hero//////////////////*/

.menu-img {
  @media #{$large-up} {
    /*height: 100%;*/
    width: 30%;
    margin-right: -100px;
  }
  img {
    width: 100%;
    max-height: 280px;
    object-fit: cover;
    @media #{$small-up} {
      border-radius: 40px 40px 0px 0px;
    }
    @media #{$large-up} {
      border-radius: 40px;
      max-height: unset;
      height: 100%;
      width: 100%;
    }
  }
  position: relative;
}

/*//////////////Menu Container//////////////////*/

.menu-container {
  background-color: $grey;
  border-radius: 40px 40px 0 0;
  padding-bottom: 20px;
  margin-top: -40px;
  position: relative;
  padding: 0 3% 45px 3%;
  @media #{$small-up} {
    border-radius: 40px;
  }
  @media #{$large-up} {
    width: 90%;
    max-width: 1100px;
    margin-top: unset;
    @include shadow;
    &_body{
      &_card{
        width: 33.33%;
      }
    }

    /*@include gradient-border;*/
    /* margin : 0 0 0 5%;*/
  }

  &_title {
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding: 20px 1em 20px 0;
    font-size: 1.5rem;
    h2 {
      font-family: "shrikhand";
      padding: 0;
    }
  }

@keyframes menu-animation {
  0%{
    opacity: 0 ; 
    transform : translateY(30px)

  };
  100%{
    opacity: 1;
    transform : translateY(0px)

  }
  
}

  &_body {
    @media #{$large-up} {
      display: flex;
    
    }
    &_card {
      margin-bottom: 20px;
      
      h3 {
        width: 90%;
        margin: 0 auto 22px auto;
        font-size: 0.9rem;
        font-weight: 100;
        > span {
          border-bottom: 2px solid $tertiary;
          padding-bottom: 5px;
        }
      }
//////////////ANIMATION DARRIVEE DES PLATS

      @for $i from 1  through 5 {
        & > div:nth-child(#{$i}){
          animation: menu-animation 1s ($i*200ms - 200ms)  both;
        }}

      &_choice {
        width: 95%;
        height: 70px;
        margin: 0px auto 14px auto;
        @include shadow;
        background-color: white;
        border-radius: 15px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1em 0 0;
        overflow: hidden;
        &:hover {
          cursor: pointer;
          & > div:nth-child(3){
          cursor: pointer;
          margin-right: -0.7em;
          & >i{
            transform: rotate(360deg);
          }
          
        }}
        > div {
          display: flex;
          height: 100%;
          flex-direction: column;
          /*textes des plats*/
          &:nth-child(1) {
            padding: 0.9em 0.6em;
            justify-content: space-between;
            flex-grow: 1;
            width: 60%;
            > h4, p {
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
          }
          /*prix des plats*/
          &:nth-child(2) {
            justify-content: flex-end;
            padding-bottom: 0.9em;
          }

          /*Animation Carré vert des plats*/
          &:nth-child(3) {
            height: 100%;
            width: 70px;
            background-color: $tertiary;
            margin-left: 0.45em;
            margin-right: -86px;
            transition: all 500ms;
            color: white;
            font-size: 2em;
            justify-content: center;
            align-items: center;
            > i{
              transform: rotate(0deg);
              transition: transform 500ms 100ms;
            }

          }
        }

        h4,
        p {
          margin: 0;
          font-size: 0.95rem;
        }
        p {
          font-weight: 300;
          font-size: 0.8rem;
        }
      }
    }
  }
}
.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
