*{
    box-sizing: border-box;
    font-family:  'Roboto', sans-serif;;
}

a{
    all: unset;
    cursor: pointer;
}


ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
  }
  

h3{
    font-size: 1.0rem;
    font-weight : 500;
}

h4{
    font-weight: 400;
}

section h2{
    padding-left: 1em;
}

