/*//////////////Header//////////////////*/

header {
  display: flex;
  align-items: center;
  background: white;
}

.header_arrow {
  font-size: 1.5rem;
  position: absolute;
  margin-left: 25px;
}

.header_logo {
  width: 50%;
  max-width: 350px;
  margin: 20px auto;
  img {
    width: 100%;
  }
}

/*//////////////Footer//////////////////*/
footer {
  color: white;
  background-color: #353535;
  padding: 10px 50px 20px 30px;
  @media #{$small-up}{
    height: 250px;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
  }
  h2 {
    font-family: "shrikhand";
    font-size: 1rem;
    @media #{$small-up} {
      font-size: 2rem ;
      text-align: center;
      margin-bottom: 50px;
      
    }
  }
  ul {
    line-height: 1.6em;
    @media #{$small-up}{
      display: flex;
      justify-content: space-around;
      align-self: center;
      width: 100%;
    }
    @media #{$large-up} {
      width: 70%;
    }
  }
  li {
    a {
      display: flex;
      align-items: center;
      p {
        margin: 0;
        font-size: 0.9rem;
      }
      i {
        margin-right: 10px;
      }
    }
  }
}
